In [4]:
#first leacture in numpy

In [1]:
import numpy as np
import pandas as pd

In [2]:
#converting a list to a numpy
l = np.array([1,5,6,4,8,2,3,9])

In [3]:
type(l)

numpy.ndarray

In [4]:
#let us look into some element wise operations on numpy

In [5]:
l * 2

array([ 2, 10, 12,  8, 16,  4,  6, 18])

In [6]:
l**2

array([ 1, 25, 36, 16, 64,  4,  9, 81])

In [7]:
l+5

array([ 6, 10, 11,  9, 13,  7,  8, 14])

In [8]:
l/2

array([0.5, 2.5, 3. , 2. , 4. , 1. , 1.5, 4.5])

In [9]:
l-20

array([-19, -15, -14, -16, -12, -18, -17, -11])

In [10]:
#one benifit that numpy operates is. it supports element wise operations

In [11]:
#if you want to generate some numbers in a range.
l = np.arange(100000)

In [12]:
l

array([    0,     1,     2, ..., 99997, 99998, 99999])

In [13]:
#one draw back with numpy is unlike list it can't store different type of elements in a single array. all the elements in the array should have only one type of array.

In [14]:
#but that is what it makes numpy array faster than list.

In [15]:
#initializing a numpy array
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [16]:
#what is the type of a
type(a)

numpy.ndarray

In [17]:
#it is a n dimentional numpy array

In [18]:
#what is the data type of eelement that is stored in array a
type(a[0])

numpy.int32

In [19]:
#it shows int32 not a python normal int, as numpy is written in c++, it gives 32 bit integer

In [21]:
a = np.array([1.0,2,3.5,6,20.1,8,6.5])
a
#every thing is converted to lossless format. int -> float (loss less)
#float -> int (lossy)

array([ 1. ,  2. ,  3.5,  6. , 20.1,  8. ,  6.5])

In [22]:
type(a)

numpy.ndarray

In [23]:
type(a[0])

numpy.float64

In [24]:
#so now it is a 64 bit float number

In [25]:
a = np.array([1,5,'4',6,8,5,'4'])
a

array(['1', '5', '4', '6', '8', '5', '4'], dtype='<U11')

In [26]:
type(a)

numpy.ndarray

In [27]:
type(a[0])

numpy.str_

In [28]:
#you can use even this
a.dtype

dtype('<U11')

In [29]:
#we can even pass a argument that will convert every data in to certain datatype
a = np.array([1,2,4,6,8],dtype='float')
a

array([1., 2., 4., 6., 8.])

In [30]:
#but reverse might give you a lossy convertion
a = np.array([1.0,2.5,3,6,7.5],dtype="int32")

In [31]:
a #lossy convertion

array([1, 2, 3, 6, 7])

In [32]:
#arange which is similar to range in python

np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [33]:
range(100)

range(0, 100)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

In [37]:
#range(start,stop,step)
list(range(0,15,2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [39]:
#similary
np.arange(0,20,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [40]:
#np.arange(start,end,step)
np.arange(50,0,-1)

array([50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34,
       33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17,
       16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [41]:
#but what is the difference between
#1. python range does not support floating point step size, but np.arange does
np.arange(0,15,0.75)

array([ 0.  ,  0.75,  1.5 ,  2.25,  3.  ,  3.75,  4.5 ,  5.25,  6.  ,
        6.75,  7.5 ,  8.25,  9.  ,  9.75, 10.5 , 11.25, 12.  , 12.75,
       13.5 , 14.25])